/* CSS Document */

@font-face {
  font-family: Pakenham;
  src: url('../pakenham.ttf');
}

body{
  background-color: black;
  background-image: url("../img/2019pozadi.jpg");
  margin: 30px;
  color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}

h1, h2, h3, h4{
  font-family: Pakenham;
}

h1{
  font-size: 66px;
  margin-top: 30px
}

h2, h3{
  font-size: 46px;
  margin: 23px 0
}

h4{
  font-size: 32px
}

a {
  color: #358EC4;
}

.container{
  background-color: rgba(0, 0, 0, 0.84);
  box-shadow: 0 0 20px rgb(66, 66, 66);
  padding: 20px
}

form{
  width: 100%
}

form div{
  width: 100px;
  margin-left: 5px
}

.textbox{
  width: 100%
}

.tlac {
  display: inline-block;
  color: white;
  font-family: Pakenham;
  padding: 10px;
  margin: 0 10px;
  background: rgba(23,23,23, .82);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition: .2s;
  border: #A2A2A2 solid 1px;
  border-radius: 0;
  cursor: pointer;
}

.tlac:hover{
  transition: .2s;
  color: white;
  text-decoration: none;
  background: rgba(46,46,46, .82);
}

hr{
  border-color: grey
}

input, textarea, select{
  background: rgba(23,23,23, .82);
  border: 2px solid grey;
  color: white;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  transition: .2s;
}

input:hover, textarea:hover, select:hover{
  transition: .2s;
  background: rgba(30,30,30, .82);
}

.box{
  border: 1px grey solid;
  margin:20px 0;
  padding:15px;
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 15px rgb(66, 66, 66)
}

.box img{
  border: 2px white solid
}

td{
  background-color: rgb(23, 23, 23);
  border: 1px solid rgb(66, 66, 66);
}

th{
  background-color: rgb(19, 19, 19);
  font-size: 20px;
  border: 2px solid grey
}

em{
  color: lime
}


.imgage_hover{
  transition: .75s;
}

.imgage_hover:hover {
  transition: .75s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-content {
  color: white;
  font-family: 'Roboto', sans-serif;
  background: rgb(6, 6, 6);
  text-align: left;
  border: solid #666 1px;
  padding: 20px;
  padding-top: 0;
  position: relative;
  margin-top: 44px;
  border-radius: 0
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2em;
  color: white;
  transition: .1s;
  display: block;
  width: 50px;
  box-shadow: none;
  height: 44px;
}

.close:hover {
  transition: .1s;
  background-color: rgba(244,67,54,.8);
}